[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/vim-scripts/Gundo.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/buffet"]
	path = vim/bundle/buffet
	url = git://github.com/sandeepcr529/Buffet.vim.git
[submodule "vim/bundle/vim-hack"]
	path = vim/bundle/vim-hack
	url = git://github.com/hhvm/vim-hack.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/bundle/vim-flow"]
	path = vim/bundle/vim-flow
	url = https://github.com/flowtype/vim-flow.git
