"global":
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
    fontFamily: "Droid Sans Mono"
    tabLength: 2
    softWrap: false
    fontSize: 14
  "exception-reporting":
    userId: "b8b4ac5f-3da2-f708-6664-9aeec26f1051"

"source.python":
  editor:
    tabLength: 4
